<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>

<body>
<style>
    body {
        background-color: #5C5C5C;
    }
</style>


<header th:replace="layout/layout :: header"></header>

<div class="container py-4">
<h1 style="color: #F4CE14; text-align: center;"> Bienvenidos a D.C.D Desarrolladores! </h1>
    <hr style="color: #495E57; border-width: 6px;">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="background-color: #686868;">
                <img src="/images/Imagen%20de%20WhatsApp%202023-11-03%20a%20las%2010.37.35_65b55b25.jpg" class="card-img-top" alt="Cristian Londoño">
                <div class="card-body">
                    <h5 class="card-title" style="color: #F5F7F8;">Cristian Londoño</h5>
                    <p class="card-text" style="color: #F5F7F8;">Desarrollador FullStack</p>
                    <a href="https://www.instagram.com/cristian.ldno/" target="_blank" class="btn btn-warning">Instagram</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="background-color: #686868;">
                <img src="/images/Imagen%20de%20WhatsApp%202023-11-03%20a%20las%2010.15.53_7f753031.jpg" class="card-img-top" alt="Daniel Ortiz">
                <div class="card-body">
                    <h5 class="card-title" style="color: #F5F7F8;">Daniel Ortiz</h5>
                    <p class="card-text" style="color: #F5F7F8;">Desarrollador Senior BackEnd</p>
                    <a href="https://www.instagram.com/daniel_orc27/" target="_blank" class="btn btn-warning">Instagram</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="background-color: #686868;">
                <img src="/images/Imagen%20de%20WhatsApp%202023-11-03%20a%20las%2009.59.09_a361f483.jpg" class="card-img-top" alt="Daniel Vargas">
                <div class="card-body">
                    <h5 class="card-title" style="color: #F5F7F8;">Daniel Vargas</h5>
                    <p class="card-text" style="color: #F5F7F8;">Desarrollador Senior FullStack</p>
                    <a href="https://www.instagram.com/dvch_8/" target="_blank" class="btn btn-warning">Instagram</a>
                </div>
            </div>
        </div>
    </div>
<br>
    <hr style="color: #495E57; border-width: 6px;">
<br>
    <h3 style="color: #F5F7F8;">¡Bienvenidos a nuestra comunidad de desarrolladores! En este espacio, la pasión por la tecnología y la innovación se encuentra en cada línea de código.
        Aquí, encontrarás un refugio para compartir conocimientos, explorar nuevas ideas y colaborar en proyectos emocionantes.
        Sea que seas un principiante curioso o un experto experimentado, todos son bienvenidos a unirse a esta vibrante comunidad.
        ¡Prepárate para explorar el mundo del desarrollo en toda su gloria! ¡Bienvenidos a bordo! 🚀💻🌟
    </h3>
    <br>
    <hr style="color: #495E57; border-width: 6px;">
    <h1 style="color: #F4CE14; text-align: center;"> SKILLS </h1>
    <hr style="color: #495E57; border-width: 6px;">
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="background-color: #686868;">
                <img src="https://cdn.iconscout.com/icon/free/png-256/free-python-3521655-2945099.png" class="card-img-top" alt="img-python">
                <div class="card-body">
                    <h5 class="card-title" style="color: #F5F7F8;"></h5>
                    <p class="card-text" style="color: #F5F7F8;"></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="background-color: #686868;">
                <img src="https://static.vecteezy.com/system/resources/previews/022/101/050/original/java-logo-transparent-free-png.png" class="card-img-top" alt="img-java">
                <div class="card-body">
                    <h5 class="card-title" style="color: #F5F7F8;"></h5>
                    <p class="card-text" style="color: #F5F7F8;"></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="background-color: #686868;">
                <img src="https://cdn.icon-icons.com/icons2/2415/PNG/512/postgresql_original_wordmark_logo_icon_146392.png" class="card-img-top" alt="img-postgresql">
                <div class="card-body">
                    <h5 class="card-title" style="color: #F5F7F8;"></h5>
                    <p class="card-text" style="color: #F5F7F8;"></p>
                </div>
            </div>
        </div>
    </div>



</div>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>